.project-hover:hover{
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
  cursor:pointer;
}

.headerProjects{
  justify-content: space-between;
}

.createProject{
  .header-modal{
    width : 80%;
    h1{
      margin-bottom: 33px;
    }
  }
  .modal-content{
    background-color: white;
    width:  1000px;
    height:722px;
  }
  .wrapperLogin {
    form {
      width: 80%;
      input{
        height:50px;
      }
      .action-buttons{
        display: flex;
        justify-content: center;
        a{
          padding-right: 10px;
        }
      }
    }
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
  }
}

